# Frontend

# Backend

HELP.md

### STS ###
/SwitchHouse/.apt_generated
/SwitchHouse/.classpath
/SwitchHouse/.factorypath
/SwitchHouse/.project
/SwitchHouse/.settings
/SwitchHouse/.springBeans
/SwitchHouse/.sts4-cache
/SwitchHouse/bin/
!/SwitchHouse/**/src/main/**/bin/
!/SwitchHouse/**/src/test/**/bin/

### IntelliJ IDEA ###
/SwitchHouse/.idea
/SwitchHouse/*.iws
/SwitchHouse/*.iml
/SwitchHouse/*.ipr
/SwitchHouse/out/
!/SwitchHouse/**/src/main/**/out/
!/SwitchHouse/**/src/test/**/out/

### NetBeans ###

### VS Code ###
/SwitchHouse/.vscode/

### custom ###
/SwitchHouse/src/main/resources/static
